// bgis.pug
div(class = 'bgis')

    // header.pug
    header(class='bgis-header')
        nav
            div(class='bgis-grow0')
                span(class="bgis-headline5") bgis Client
            each val in [1,2,3]
                a(href="#") link #{val}
            div(class='bgis-grow1')
            div(class='bgis-grow-0')
                span(class="bgis-headline5") Logo Right
            div(class='bgis-hide-header bgis-grow0 bgis-icon')
                i(class="bgis-icon bgis-icon-times")

    // header-collapse.pug
    div(class='collapsible bgis-icon bgis-show-header')
        i(class="bgis-icon bgis-icon-chevron-down")

    // bgis.pug (2)
    main(class='bgis-body')

        // map-area.pug
        div(class='bgis-map-area')

            // sidebar.pug
            aside(class="bgis-sidebar bgis-toggled-overlayable")

                // search.pug
                section(class="bgis-search bgis-toggled-overlayable")
                    header(class ='bgis-search-header')
                        button(class="bgis-icon", aria-label="Einstellungen")
                            i(class="bgis-icon bgis-icon-bars")
                        label(class="bgis-sr-only", for="search") Durchsuchen...
                        input(type="search", id="search", placeholder="durchsuchen ...", class="bgis-grow1 bgis-text")
                        //label(class='bgis-toggle-icon')
                        //    input(type="checkbox")
                        //    span(class="bgis-icon" data-checked="\ue921" data-unchecked="\ue916")
                        button(class="bgis-grow0 bgis-icon bgis-search-showfilter", aria-label="Filter anzeigen")
                            i(class="bgis-icon bgis-icon-sliders")
                        button(class="bgis-grow0 bgis-icon", aria-label="Spracheingabe")
                            i(class="bgis-icon bgis-icon-microphone")
                    div(id='bgis-search-filter' class="bgis-search-body")
                        ul(class='bgis-list bgis-scrollbar')
                            each val in [0,1,2,3,4,5,6,7,8,9]
                                li(class='bgis-hz')
                                    div(class='bgis-fab-icon') #{val}
                                    span(class='bgis-txt')
                                        span(class="bgis-subtitle1") Element #{val}
                                        span(class="bgis-subtitle2") Informations about selected element #{val}
                                    div(class='bgis-icon')
                                        i(class="bgis-icon bgis-icon-pdf")

                // legend.pug
                section(class="bgis-legend bgis-toggled-overlayable" )
                    header(class="bgis-legend-header")
                        span(class="bgis-fab-icon")
                            i(class="bgis-icon bgis-icon-map")
                        span(class="bgis-txt")
                            span(class="bgis-overline") Kartendetails
                            span(class="bgis-headline6") Karte XYZ
                        span(class="bgis-icon")
                            i(class="bgis-icon bgis-icon-layer-group")
                    div(class="bgis-legend-open")
                        a(class="bgis-caption") Legende &amp; Infos anzeigen
                        span(class="bgis-grow1") &nbsp;
                        button(class="bgis-showlegend bgis-icon", title="Zeige detaillierte Legendeninfos zur Karte an", aria-label="Zeige detaillierte Legendeninfos zur Karte an")
                            i(class="bgis-icon bgis-icon-chevron-down")
                    div(class="bgis-legend-tabs")
                        button(class="bgis-layers-tab bgis-caption", aria-label="Legende") Legende
                        button(class="bgis-infos-tab bgis-caption", aria-label="Informationen") Infos
                        span(class="bgis-grow1") &nbsp;
                        button(class="bgis-hidelegend bgis-icon", title="Detaillierte Legendeninfo ausblenden", aria-label="Detaillierte Legendeninformation ausblenden")
                            i(class="bgis-icon bgis-icon-chevron-up")
                    div(class="bgis-legend-body bgis-legend-layers")

                        // legend-legend.pug
                        ul(class='bgis-list-dense bgis-scrollbar')
                            li
                                h3(class="bgis-overline") Variante 1 (statische Legende) 
                            li 
                                span(class="bgis-hz")
                                    span(class="bgis-txt")
                                        h4(class="bgis-subtitle1") Layer 1 Titel
                                ul(class="bgis-list-dense")
                                    li()
                                        span(class="bgis-hz")
                                            img(class="bgis-icon", src=require("../assets/fwmst.50b378b4.svg").default, alt="Beispiel Icon")
                                            span(class="bgis-txt bgis-body2") Legend Layer 1 Item 1
                                    li()
                                        span(class="bgis-hz")
                                            img(class="bgis-icon", src=require("../assets/semst.4c2431e9.svg").default, alt="Beispiel Icon")
                                            span(class="bgis-txt bgis-body2") Legend Layer 1 Item 2
                            li 
                                span(class="bgis-hz")
                                    span(class="bgis-txt")
                                        h4(class="bgis-subtitle1") Layer 2 Titel
                                ul(class="bgis-list-dense")
                                    li()
                                        span(class="bgis-hz")
                                            img(class="bgis-icon", src=require("../assets/pgmst.14898e5e.svg").default, alt="Beispiel Icon")
                                            span(class="bgis-txt bgis-body2") Legend Layer 2 Item 1
                            li 
                                h3(class="bgis-overline") Variante 2 (dynamische Legende)
                            li
                                span(class="bgis-hz")
                                    input(class="bgis-icon bgis-checkbox" type="checkbox" id="dynamicLayer1" value="valueDynamicLayer1" checked="")
                                    img(class="bgis-icon", src=require("../assets/omst.af14d9ae.svg").default, alt="Beispiel Icon")
                                    label(class="bgis-txt" for="dynamicLayer1" ) 
                                        h4(class="bgis-subtitle1") Layer 1 Titel
                                    i(class="bgis-icon bgis-icon-chevron-up")
                                ul(class="bgis-list-dense")
                                    li()
                                        span(class="bgis-hz")
                                            input(class="bgis-icon bgis-checkbox" type="checkbox" id="layer1item1" value="Legend Entry x1" checked="")
                                            img(class="bgis-icon", src=require("../assets/fwmst.50b378b4.svg").default, alt="Beispiel Icon")
                                            label(class="bgis-txt bgis-body2" for="layer1item2") Legend Layer 1 Item 1
                                    li()
                                        span(class="bgis-hz")
                                            input(class="bgis-icon bgis-checkbox" type="checkbox" id="layer1item2" value="layer1item2" checked="")
                                            img(class="bgis-icon", src=require("../assets/semst.4c2431e9.svg").default, alt="Beispiel Icon")
                                            label(class="bgis-txt bgis-body2" for="layer1item2") Legend Layer 1 Item 2
                            li
                                span(class="bgis-hz")
                                    input(class="bgis-icon bgis-checkbox" type="checkbox" id="dynamicLayer2" value="valueDynamicLayer2" checked="")
                                    img(class="bgis-icon", src=require("../assets/gmst.ad200cf0.svg").default, alt="Beispiel Icon")
                                    label(class="bgis-txt" for="dynamicLayer2" ) 
                                        h4(class="bgis-subtitle1") Layer 2 Titel
                                    i(class="bgis-icon bgis-icon-chevron-up")
                                ul(class="bgis-list-dense")
                                    li()
                                        span(class="bgis-hz")
                                            input(class="bgis-icon bgis-checkbox" type="checkbox" id="layer1item1" value="Legend Entry x1" checked="")
                                            img(class="bgis-icon", src=require("../assets/pgmst.14898e5e.svg").default, alt="Beispiel Icon")
                                            label(class="bgis-txt bgis-body2" for="layer1item2") Legend Layer 2 Item 1
                            li
                                span(class="bgis-hz")
                                    input(class="bgis-icon bgis-checkbox"  type="checkbox" id="dynamicLayer3" value="valueDynamicLayer3" checked="")
                                    img(class="bgis-icon", src=require("../assets/gmst.ad200cf0.svg").default, alt="Beispiel Icon")
                                    label(class="bgis-txt" for="dynamicLayer3") 
                                        h4(class="bgis-subtitle1") Layer 3 Titel
                                    i(class="bgis-icon bgis-icon-chevron-down")

                    div(class="bgis-legend-body bgis-legend-infos")

                        // legend-infos.pug
                        span(class='bgis-card bgis-body1 bgis-scrollbar') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

                // quicklink.pug
                section(class="bgis-quicklink bgis-toggled-overlayable")
                    div(class="bgis-quicklink-header")
                        button(class="bgis-icon bgis-quicklink-close", aria-label="Quicklinks ausblenden")
                            i(class="bgis-icon bgis-icon-times-sm")
                        // bgis-quicklink content goes here
                    div(class="bgis-quicklink-body")

                        // examples/quicklink.pug
                        each val in [0,1,2]
                            span(class='bgis-vt' style="align-items:center")
                                button(class='bgis-fab-icon', aria-label="Quicklink #{val}") #{val}
                                a(class='bgis-caption', aria-label="Quicklink #{val}") link to map#{val}
                        //- span(class="bgis-grow1") &nbsp;
                        span(class='bgis-vt' style="align-items:center")
                            span(class='bgis-fab-icon' ) :
                            a(class='bgis-caption', aria-label="Mehr Quicklinks") more

                // detail.pug
                div(class="bgis-detail bgis-toggled-overlayable")
                    div(class="bgis-detail-splitter bgis-icon")
                        i(class="bgis-icon bgis-icon-minus")
                    div(class="bgis-detail-body")
                        // bgis-detail content goes here

                        // examples/detail.pug
                        div(class="bgis-card bgis-scrollbar")
                            div(class="bgis-detail-content")
                                span(class='bgis-hz')
                                    span(class='bgis-txt')
                                        span(class='bgis-subtitle1') XY details
                                        span(class='bgis-subtitle2') more Details for xy
                                img(class='bgis-hz bgis-media', alt="Einfaches Beispielbild", style="height:100px;", src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjY3OCIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMTE0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBzdHlsZT0ib3ZlcmZsb3c6IGhpZGRlbjsgcG9zaXRpb246IHJlbGF0aXZlOyI+PGRlc2M+Q3JlYXRlZCB3aXRoIFJhcGhhw6tsIDIuMC4xPC9kZXNjPjxkZWZzPjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTE0OCIgaGVpZ2h0PSI2NzgiIHI9IjAiIHJ4PSIwIiByeT0iMCIgZmlsbD0iI2YwZjBmMCIgc3Ryb2tlPSJub25lIiBzdHlsZT0iIj48L3JlY3Q+PGNpcmNsZSBjeD0iNzk1IiBjeT0iMzg2IiByPSI0NCIgZmlsbD0iIzAwMDAwMCIgc3Ryb2tlPSIjY2NjY2NjIiBzdHlsZT0ib3BhY2l0eTogMC4yOyIgc3Ryb2tlLXdpZHRoPSIxIiBvcGFjaXR5PSIwLjIiPjwvY2lyY2xlPjxjaXJjbGUgY3g9Ijk0NCIgY3k9IjM3NSIgcj0iMTA1IiBmaWxsPSIjMDAwMDAwIiBzdHJva2U9IiNjY2NjY2MiIHN0eWxlPSJvcGFjaXR5OiAwLjI7IiBzdHJva2Utd2lkdGg9IjEiIG9wYWNpdHk9IjAuMiI+PC9jaXJjbGU+PC9zdmc+")
                                span(class='bgis-hz bgis-body1') Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                span(class='bgis-hz')
                                    button(class='bgis-button', aria-label="Beispiel Button 1") button1
                                    button(class='bgis-button', aria-label="Beispiel Button 2") button2
                                    span(class='bgis-txt') &nbsp;
                                    button(class='bgis-icon', aria-label="Beispiel Icon 1")
                                        i(class="bgis-icon bgis-icon-share")
                                    button(class='bgis-icon', aria-label="Beispiel Icon 2")
                                        i(class="bgis-icon bgis-icon-share")
                            div(class="bgis-search-results")
                                ul(class='bgis-list-dense')
                                    each val in [0,1,2,3,4,5,6,7,8,9]
                                        li(class='bgis-hz')
                                            button(class='bgis-icon', aria-label="Beispiel Listeneintrag #{val}")
                                                i(class="bgis-icon bgis-icon-map-marker")
                                            span(class='bgis-txt') Somwhere near 123, #{val}

                // sidebar.pug (2)
                div(class='collapsible bgis-icon bgis-hide-sidebar bgis-toggled-overlayable')
                    i(class="bgis-icon bgis-icon-chevron-left-sm")

            // sidebar-collapse.pug
            div(class='collapsible bgis-icon bgis-show-sidebar bgis-toggled-overlayable ')
                i(class="bgis-icon bgis-icon-chevron-right-sm")

            // map.pug
            div(class="bgis-map" id="bgis-map")

        // listview.pug
        div(class="bgis-listview-splitter")
        div(class="bgis-listview")
            header(class="bgis-listview-header")
                button(id="bgis-listview-close", aria-label="Listenansicht schließen", aria-hidden="true", class="bgis-icon")
                    i(class="bgis-icon bgis-icon-times")
                button(aria-label="Listenansicht maximieren", aria-hidden="true", class="bgis-icon")
                    i(class="bgis-icon bgis-icon-expand")
                span(class="bgis-grow1") &nbsp;
                button(aria-label="Listenansicht schließen", aria-hidden="true", class="bgis-icon")
                    i(class="bgis-icon bgis-icon-sign-out")
                button(aria-label="Listenansicht maximieren", aria-hidden="true", class="bgis-icon")
                    i(class="bgis-icon bgis-icon-more-four")
            // bgis-listview content goes here
            div(class="bgis-listview-body")

                // examples/list.pug
                ul(class="bgis-list bgis-vertical")
                    each val in [1,2,3,4,5,6,7,8,9,10]
                        li(class="bgis-hz")
                            div(class='bgis-fab-icon') #{val}
                            span(class='bgis-txt')
                                span(class="bgis-subtitle1") Found #{val}
                                span(class="bgis-subtitle2") More info about #{val}
                            div(class="bgis-icon")
                                i(class="bgis-icon bgis-icon-chevron-down")

        // menu.pug
        div(class="bgis-menu")
            ul(class="bgis-list")
                each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                    li(class="bgis-horizontal")
                        div(class='bgis-fab-icon') #{val}
                        span(class='bgis-text')
                            span(class="bgis-subtitle1") Navigate #{val}
                            span(class="bgis-subtitle2") Some Navigation Details #{val}

